body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

.gridContainer {
    max-width: 400px;
}

.divBox {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    flex: 0 0 auto;
}

.divRow {
    display: flex;
    flex: 1 0 auto
}

.touched {
    background-color: pink;
}

.touching {
    border: 2px solid red;
}