body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#buttonhoist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#container {
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 10px
}

.divBox {
    border: 2px solid black;
    flex: 1
}

.divRow {
    display: flex;
    flex: 1
}

.touched {
    background-color: pink;
}

.touching {
    border: 2px solid red;
}